{% set index = get_section(path="_index.md") %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/">
            <img src="/logo.png" width="150" />
        </a>

        <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">About</a>
            {% for page in index.pages %}
            <a href="{{page.path}}" class="navbar-item"> {{ page.title | safe }} </a>
            {% endfor %}
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                      <a href="https://www.yardbook.com/new_quote/a4fb36139cf7b0451ed274524f008c57b5315b81"
                        class="button is-success" target="_blank">
                        Request an Estimate
                      </a>
                </div>
            </div>
        </div>
    </div>
</nav>
