{% extends "index.html" %} {% block title %} {{ page.title }} {% endblock title
%} {% block description %}
<meta name="description" content="{{ page.summary | striptags }}" />

{% if page.extra.tags %}
<meta
    name="keywords"
    content="{{ config.extra.keywords ~ ', ' ~ page.extra.tags }}"
/>
{% endif %} {% endblock description %} {% block content %}
<div class="hero-body">
    <div class="container">
        <h1 class="title">{{ config.extra.hero.title }}</h1>
        <h2 class="subtitle">{{ section.page_name }}</h2>
    </div>
</div>
{{ page.content }} {% endblock content %}
