{% extends "index.html" %}


{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Lawn Maintenance</p>
          <p class="content">
            Mowing, trimming and clean up services are available
            in a variety of packages. Our lawns are mowed at a
            3" height, which is optimal length for KY
            Tall Fescue grass, to provide the best defense against Central
            KY’s droughts. Commercial equipment is used to complete
            your maintenance expertly and efficiently.
          </p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Mulch Installation</p>
          <p class="content">
            Install mulch in your beds to give your space that clean, polished
            look that will turn every head.  A weed prevention application is
            also recommended to
            accompany any spring, summer or fall mulch installation to
            continually
            keep your yard looking its best.
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Spring/Fall Cleanups</p>
          <p class="content">
            Clear your garden and property of all debris (leaves, sticks,
            weeds) to
            prevent a cluttered look.  Removing the dregs of
            seasons past will give you the clean canvas you need to showcase
            existing decor and incorporate any new ideas.
          </p>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Shrub Trimming</p>
        <div class="content">
            Tame and maintain unruly shrubs to preserve a tidy, refined
            look. We offer one time rates or a yearly maintenance
            package, including three trimmings over the course of the growing
            season, for those invested in a beautiful display year round.
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Weed Prevention</p>
        <div class="content">
            Weed maintenance packages are available to anyone who
            is tired of pulling pesky weeds, only to have them reappear a
            few days later.  A removal every two weeks with this option
            ensures that your garden beds remain pristine.
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
